<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sleepy" >

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test_project"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name="com.example.sleepy.presentation.alarm.alarmInfo.AlarmActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:launchMode="singleInstance"
            android:theme="@style/NoBar"/>
        <activity
            android:name="com.example.sleepy.presentation.onBoarding.OnBoardingActivity"
            android:exported="true"
            android:theme="@style/NoBar"/>
        <activity
            android:name="com.example.sleepy.presentation.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name="com.example.sleepy.presentation.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/NoBar"/>
    </application>

</manifest>